body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #333333;
}
#et {
  font-size: 48pt;
  text-decoration: none;
  color: white;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
}
#navbar li a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.nav {
  width: 100%;
  height: 49px;
  background-color: white;
  margin-top: 10px;
}
.nav li {
  list-style: none;
}
.nav li a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  float: left;
  padding: 14px 26px;
  font-weight: bold;
}
.nav .search {
  padding: 0px 24px;
  float: right;
}
.nav input[type="text"] {
  padding: 10px;
  margin-top: 8px;
}
.float {
  display: flex;
  background: #f1f1f0;
  flex: 1;
  padding: 10px;
  height: auto;
  margin-top: 10px;
}
.float .mg {
  display: flex;
  float: left;
  max-width: 30%;
  padding-left: 10px;
}
.float .hd {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 45px;
  padding-left: 40px;
}
.float .pg {
  display: flex;
  float: right;
  margin-top: 60px;
  padding-left: 80px;
}

#six .dd {
  margin-left: 30px;
  font-size: larger;
  font-family: Garamond;
  initial-letter: 2;
}
.dd::first-letter {
  font-size: 40px;
}
.catagories {
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
}
.col-2 {
  flex-basis: 15%;
  min-width: 80px;
  margin-bottom: 10px;
}
.col-2 img {
  float: left;
  width: 15%;
  margin-left: 15px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.pars {
  display: flex;
}
